[submodule "luvit/lumino"]
	path = luvit/lumino
	url = git@github.com:kengonakajima/lumino.git
[submodule "ruby/rumino"]
	path = ruby/rumino
	url = git@github.com:kengonakajima/rumino.git
[submodule "ruby/luap/lua-parser"]
	path = ruby/luap/lua-parser
	url = git@github.com:kengonakajima/lua-parser.git
[submodule "luvit/luvit-websocket"]
	path = luvit/luvit-websocket
	url = git@github.com:kengonakajima/luvit-websocket.git

[submodule "moai/lumino"]
	path = moai/lumino
	url = git@github.com:kengonakajima/lumino.git
[submodule "c/cumino"]
	path = c/cumino
	url = git@github.com:kengonakajima/cumino.git
